<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    {% block title %}{% endblock %}
</head>


<header class="bg-light">
  <nav class="container d-flex flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="/">Main</a>
    <a class="py-2 d-none d-md-inline-block" href="support">Support</a>
    {% if current_user.is_authenticated %}
      <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
    {% else %}
      <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
      </p>
    {% endif %}
  </nav>
</header>

<div class="position-relative overflow-hidden text-center bg-light w-100">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <img src="/static/img/armchair.png">
      <h1 class="display-4 fw-normal">Furniture house</h1>
      <p class="lead fw-normal">This store has high-quality furniture from German, French and Italian manufacturers.</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

{% block body %}{% endblock %}


    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>





</html>