{% extends 'base.html' %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">Furniture house</title>
{% endblock %}

{% block body %}
<main>
  <div class="d-md-flex flex-md-equal w-100 my-md-2 row">
    <div class="bg-dark text-center text-white overflow-hidden w-50">
      <div class="my-3">
        <h2 class="display-5">Kitchens</h2>
        <a href="kitchens"><img src="/static/img/kitchens.jpg"></a>
      </div>
    </div>
    <div class="bg-light text-center overflow-hidden w-50">
      <div class="my-3">
        <h2 class="display-5">Bedrooms</h2>
        <a href="bedrooms"><img src="/static/img/bedrooms.jpg"></a>
      </div>
    </div>
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 row">
    <div class="bg-light text-center overflow-hidden w-50">
      <div class="my-3">
        <h2 class="display-5">Living rooms</h2>
        <a href="living_rooms"><img src="/static/img/living rooms.jpg"></a>
      </div>
    </div>
    <div class="bg-dark text-center text-white overflow-hidden w-50">
      <div class="my-3">
        <h2 class="display-5">Beds</h2>
        <a href="beds"><img src="/static/img/beds.jpg"></a>
      </div>
    </div>
  </div>
</main>
{% endblock %}